.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea/caches/
.idea/codeStyles/
.idea/libraries/Gradle____local_aars____home_dixith_Documents_ASUIHO_IHOApp2018_Code_Android_app_libs_activation_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars____home_dixith_Documents_ASUIHO_IHOApp2018_Code_Android_app_libs_additionnal_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars____home_dixith_Documents_ASUIHO_IHOApp2018_Code_Android_app_libs_mail_jar_unspecified_jar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_23_4_0.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_23_4_0.xml
.idea/libraries/Gradle__com_android_support_support_annotations_23_4_0_jar.xml
.idea/libraries/Gradle__com_android_support_support_v4_23_4_0.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_23_4_0.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0_jar.xml
.idea/libraries/Gradle__com_google_guava_guava_19_0_jar.xml
.idea/libraries/Gradle__com_googlecode_json_simple_json_simple_1_1_jar.xml
.idea/libraries/Gradle__com_mcxiaoke_volley_library_1_0_19_jar.xml
.idea/vcs.xml
.idea/misc.xml
